.Avatar-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.Avatar-NomPrenom, .Avatar-PicFace {
    display: none;
}
.Avatar-NomPrenom.desktopVersion, .Avatar-PicFace.desktopVersion {
    display: flex;
    color: var(--PrimaryColor);
    width: 70px;
    font-size: 18px;
    line-height: 26px;
    align-items: flex-end;
    text-align: right;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.Avatar-PicFace.desktopVersion img {
    width: 64px;
    height: 64px;
    background-color: #c4c4c4;
    border-radius: 90%;
    margin-top: auto;
    margin-bottom: auto;
}
@media only screen and (max-width: 768px) {
    .Avatar-NomPrenom.mobileVersion, .Avatar-PicFace.mobileVersion {
        display: flex;
    }
    .Avatar-NomPrenom.mobileVersion {
        font-size: 12px;
        line-height: 17px;
        color: var(--PrimaryColor);
        align-items: flex-end;
        text-align: right;
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .Avatar-PicFace.mobileVersion img {
        width: 32px;
        height: 32px;
        background-color: #c4c4c4;
        border-radius: 90%;
        margin-top: auto;
        margin-bottom: auto;
    }
    .Avatar-container {
        flex-direction: row;
        width: 135px;
        height: 35px;
    }
}
